// app.scss


// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

@import '~admin-lte/node_modules/bootstrap/dist/css/bootstrap.min.css'; 
@import '~admin-lte/dist/css/adminlte.css';
@import '~admin-lte/dist/css/skins/_all-skins.css';


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}